*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 40px;
}
#nav-part1{
    display:flex;
}
#nav-part1 h3{
    font-size: 15px;
    padding: 5px 10px;
    font-weight:500 ;
    border: 1px solid #000;
    border-radius: 35px;
}
#nav-part1 i{
    padding:5px 10px;
    font-weight:500 ;
    border: 1px solid #000;
    border-radius: 35px;
}
#nav-part2 h3{
    text-transform: uppercase;
    font-weight: 500;
}
#nav-part3{
    display:flex;
}
#nav-part3 button{
    padding: 5px 10px;
    border-radius: 35px;
}
#btn-1{
    border: 1px solid #000;
    background-color: #fff;
}
#btn-2{
    background-color: orangered;
    color: #fff;
    border: none;
}
#text{
    font-size: 110px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    font-weight: 500;
    transform: translate(-50%,-50%);
}
img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-15deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-5deg);
}
#btm-txt1{
    position: absolute;
    bottom: 5%;
    left: 4%;
    font-size: 10px;
    font-weight: lighter;
}
#btm-txt2{
    position: absolute;
    bottom: 5%;
    right:4%;
    font-size: 10px;
    font-weight: lighter;
}
#soc-med{
    width: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 7%;
    right:4%;
}
#arrow{
    padding:30px 30px 30px 30px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #000;
    position: absolute;
    bottom: 0%;
    left: 50%;
    display: flex;
    align-items:flex-start;

}